.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* task1 */
.section1 {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 119, 155);
}

button {
    width: 250px;
    height: 95px;
    font-size: large;
    background-color: rgb(228, 119, 155);
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    margin: 50px;
    box-shadow: 7px 7px 7px 2px black, 3px 3px 6px 0 white inset;
    border: none;
    border-radius: 21px;
    text-shadow: 5px 5px 5px black;
}

button:active {
    box-shadow: 5px 6px 7px 2px black inset,
        -3px -3px 7px 0 white inset;
    text-shadow: 1px 1px 4px black;
}

/* task2 */
.task2 {
    display: flex;
    justify-content: center;
    padding: 55px;
  }
  .card {
    padding: 21px;
    width: 350px;
    transition-duration: 1s;
  }
  .card img {
    height: 300px;
    width: 300px;
    transition-duration: 1s;
  }
  h3 {
    color: rgb(80, 27, 43);
    text-wrap: initial;
    text-align: center;
    font-size:large;
  }
  .card:hover {
    border-radius: 31px;
    box-shadow: 4px 4px 9px 0 rgb(80, 27, 43), -4px -4px 9px 0 rgb(80, 27, 43);
  }
  .card:hover img {
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
  }

  /* task3 */
.task3 {
    margin: 55px;
    display: flex;
    justify-content: center;
  }
  .task3 p {
    color: red;
    font-size: 140px;
    letter-spacing: 25px;
    animation: chartva 0.5s infinite;
  }
  @keyframes chartva {
    0% {
      text-shadow: 0 0 0 red;
    }
    25% {
      text-shadow: 0 0 15px red;
    }
    50% {
      text-shadow: 0 0 25px red;
    }
    75% {
      text-shadow: 0 0 35px red;
    }
    100% {
      text-shadow: 0 0 45px red;
    }
  }

  /* task4 */
.task4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px;
    position: relative;
  }
  .task4 div {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    border-width: 31px;
    border-style: solid;
    border-color: blue red green green;
    animation: spin 1s linear infinite;
  }
  .task4 p {
    position: absolute;
    font-size: 40px;
    color: green;
    font-weight: bold;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .task4 div:hover {
    animation-play-state: paused;
  }